@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.btn-chat {

    border-radius: 10px;
    padding: 18px;
    background-color: #1C1C1C;
    border: none;
    width: 250px;
    color: #F7F9FB;
    font-family:inter;
}

.botoes{

    width: 250px;
    margin-top: 30px;
    border: none;
    background-color: white;
    font-family:inter;


}

.superior {

    width: 100%;
    height: 70%;
    /* background-color: cornflowerblue; */
    display:flex;
    flex-direction: column;
    align-items: center;

}

.inferior {

    width: 100%;
    height: 30%;
    /* background-color: coral; */
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tela-principal {
    display: flex;
    
}

.caixa-esquerda {
    width: 20vw;
    height: 100vh;
    /* background-color: blue; */

}

.caixa-direita {
    width: 80vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.caixa-mensagem {

    width: 30vw;
    margin-top: auto;


}

.inpt { 

    border-radius: 10px; 
    padding: 20px;  
    margin-bottom: 5px;
    border: none;   
    background-color:#F7F9FB;
    width: 377px;
}

